
.App-header {
  background-color: lightblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.quadrado{
  width: 300px;
  color: black;
  background-color: rgb(245, 245, 245);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 11px 15px 6px rgba(0,0,0,0.63);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.btn-login{
  width: 70%;
  margin-top: 20px !important;
}

.createAccount{
  color: rgb(92, 115, 246);
  font-size: 12px;
  cursor: pointer;
  
}
.divTexts{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 240px;
}

.formRegister{
  width: 300px;
  color: black;
  background-color: rgb(245, 245, 245);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 11px 15px 6px rgba(0,0,0,0.63);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.btn-register{
  width: 70%;
  margin-top: 20px !important;
}

.homepage{
  width: 300px;
  color: black;
  background-color: rgb(245, 245, 245);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 11px 15px 6px rgba(0,0,0,0.63);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.sucesso{
  width: 300px;
  color: black;
  background-color: rgb(245, 245, 245);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 11px 15px 6px rgba(0,0,0,0.63);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

img{
  width: 80px;
}

.sucesso-msg{
  text-align: center;
  color: green;
}

.sucesso-text{
  text-align: center;
  font-size: 20px;
  color: gray;
}

.btn-sucesso{
  width: 70%;
}